@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Manrope; 
    color: white;
    margin: 40px;
    background-color: #151515;
}

/* styling for nav */
ul{
    display: inline-block;
    margin-left: 831px;
}

li{
    display: inline-block;
    max-width: 262px;
    margin-left: 30px;
}

a{ 
    font-size: 28px;
    font-weight: 700;
    line-height: 130%;
    text-decoration: none;
    color: white;
    display: inline-block;
}

a:hover{
    color: #FF9839;
}

.link-regular{
    font-weight: 400;
}

/* styling for footer */

footer{
    padding-top: 16px;
    padding-bottom: 24px;
    position: fixed;
    top: 92%;
    background-color: #151515;
}

.footer-text{
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    color: #FF9839;
    max-width: none;
}

.footer-text-left-1{
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    color: #FF9839;
    max-width: none;
    margin-left: 880px;
}

.footer-text-left-2{
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    color: #FF9839;
    max-width: none;
    margin-left: 40px;
}

.footer-text-regular{
    font-weight: 400;
} 

/* Style for title */
h1 {
    font-size: 96px;
    font-weight: 700;
    line-height: 110%;
    margin-top: 450px;
}

/* Style for heading */
h2 {
    font-size: 48px;
    font-weight: 400;
    line-height: 130%;
    max-width: 50vw;
    margin-bottom: 64px;
}

/* Style for subheading */
h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 32px;
}

.subheading-regular {
    font-weight: 400;
}

h4 {
    font-size: 32px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 32px;
}

/* Style for pullout quote */
blockquote {
    color: #FF9839; 
    font-size: 28px;
    font-weight: 400;
    line-height: 150%;
    max-width: 50vw;
    position: sticky;
    top: 40px;
}

/* Style for body text */
p{
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    max-width: 50vw;
    margin-bottom: 16px;
}

.p-bold{
    font-weight: 700;
}

/* layout styling */

.row {
    display: flex;
}

.last-row{
    display: flex;
    margin-bottom: 200px;
}

.text-title-row{
    display: flex;
    margin-top: 200px;
}
  
.column {
    flex: 50%;
    padding: 15px;
  }

.column-left{
    margin-left: 732px;
}

.first-text-section{
    margin-top: 64px;
}

.text-section{
    margin-top: 128px;
}